{% extends 'base.html'%}

{% block title %}
{{tag.name}}
{% endblock %}

{% block content %}
<h1>{{tag.name}}</h1>
<ul>
    {% for post in tag.posts %}
    <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a> 
        <small>by <a href="/users/{{post.user_id}}">{{post.user.full_name}}</a></small>
    </li>
    {% endfor %}
</ul>
</p>
<form action="/tags/{{tag.id}}/delete" method="POST">
    <a href="/tags/{{tag.id}}/edit"><button type='button' class='btn btn-primary p-2 mt-3'>Edit</button></a>
    <button class='btn btn-danger p-2 mt-3'>Delete</button>
    <a href="/tags"><button type="button" class='btn btn-success p-2 mt-3'>All Tags</button></a>
</form>
{% endblock %}