{% extends 'base.html'%}

{% block title %}
{{user.full_name}}
{% endblock %}

{% block content %}
<div class="float-left">
    {% if user.image_url %}
    <img src="{{user.image_url}}" alt="User image" class="img-thumbnail mr-3" style="height: 200px;">
    {% else %}
    <img src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" 
    alt="default user image" class="img-thumbnail mr-3" style="height: 200px;">
    {% endif %}
</div>
<h1>{{user.full_name}}</h1>

<form action="/users/{{user.id}}/delete" method="POST">
    <a href="/users/{{user.id}}/edit"><button type='button' class='btn btn-primary p-2 mt-3'>Edit</button></a>
    <button class='btn btn-danger p-2 mt-3'>Delete</button>
</form>
{% endblock %}